---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/blog/Hero.astro";
import Tags from "../../components/blog/Tags.astro";
import ListPosts from "../../components/blog/ListPosts.astro";
const pageTitle = "Blog de desarrollo y tecnología | Víctor Santos";
const description = "Artículos y notas sobre desarrollo web, diseño, herramientas y tecnología.";
const ogimage ={
    url: "/images/blogimage.webp",
    alt: "Vista previa del blog de desarrollo y tecnología de Víctor Santos."
};
---

<Layout  pageTitle={pageTitle} description={description} ogimage={ogimage}>
   
    <Hero />
    <Tags />
    <div class="px-8 max-sm:px-4">
        <ListPosts />
    </div>

</Layout>
