---
import ExperienceItem from "./ExperienceItem.astro";
import Heading from "../ui/Heading.astro";
import { Icon } from "astro-icon/components";

const EXPERIENCE = [
  {
    date: "2021 - Actualidad",
    title: "Coordinador de desarrollo de software",
    company: "Proyectos digitales",
    description:
      "Lidero la planeación, el desarrollo y la implementación de proyectos de software para optimizar procesos y mejorar servicios digitales. Coordino equipos y acompaño plataformas tecnológicas con foco en soluciones eficientes y funcionales.",
  },
  {
    date: "2019 - 2020",
    title: "Coordinador de desarrollo de software",
    company: "Colaboraciones y soluciones web",
    description:
      "Participé en la planeación, el desarrollo y la implementación de proyectos de software orientados a procesos administrativos y servicios digitales. Di soporte a plataformas tecnológicas y contribuí a mantener soluciones confiables para distintos equipos.",
  },
];
---

<section class="py-8 px-8 max-md:py-4 mb-4 scroll-m-16" id="experience">
  <div class="flex flex-col pt-8 max-w-4xl mx-auto">
    <div class="flex gap-4 items-center justify-center">
      <Icon class="text-3xl dark:text-white text-blacktext" name="briefcase" />
      <Heading text="Experiencia" textGradient="profesional" level={2} />
    </div>

    <div class="relative max-md:mt-0 mt-8" aria-label="Experiencia profesional">
      <ol class="relative mt-10">
        {
          EXPERIENCE.map((experience, index) => (
            <li>
              <article
                role="article"
                aria-labelledby={`experience-title-${index}`}
              >
                <div
                  class="flex flex-col gap-2  text-zinc-00 dark:text-zinc-300 md:col-span-3"
                  aria-describedby={`experience-title-${index}`}
                >
                  <ExperienceItem {...experience} />
                </div>
              </article>
            </li>
          ))
        }
      </ol>
    </div>
  </div>
</section>
